<!DOCTYPE html>
<html lang="es" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}APT BARBER{% endblock %}</title>
    <!-- FAVICON PARA TODAS LAS PÁGINAS -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Satoshi:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
    <div class="container header-inner">
        <!-- Logo / Nombre -->
        <a href="/" class="logo">
           <img src="/static/images/logo-apt.svg" alt="Barbershop" class="logo-icon">
           APT BARBER
        </a>

        <!-- Navegación desktop -->
        <nav class="nav-desktop">
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="#contacto">Contacto</a>
        </nav>

        <!-- Botón hamburguesa móvil -->
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- Menú móvil full screen (aparece al hacer clic) -->
    <div class="mobile-nav" id="mobileNav">
        <a href="/">Inicio</a>
        <a href="/servicios">Servicios</a>
        <a href="/contacto">Contacto</a>
        <a href="https://wa.me/57TU_NUMERO" class="btn-whatsapp mobile-whatsapp">Reservar por WhatsApp</a>
    </div>
</header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>